In [2]:
#Se importan las librerias
 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 

%matplotlib inline

/anaconda3/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
#Configuración de graficos 

sns.set_style("whitegrid")
sns.set(rc={'figure.figsize':(11.7,8.27)})

In [4]:
#Se lee la base

tarjetas = pd.read_csv('/Users/rodolfopardo/Downloads/Titulares_Tarjeta_Alimentar-20201231 2.csv')

In [5]:
print('La cantidad de titulares de Tarjeta Alimentar en Argentina son {}'.format(tarjetas.shape[0]))

La cantidad de titulares de Tarjeta Alimentar en Argentina son 1787249

In [6]:
#Detalles de nuestro dataset

tarjetas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787249 entries, 0 to 1787248
Data columns (total 9 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id_persona                 object
 1   sexo                       object
 2   codigo_indec_provincia     int64
 3   provincia                  object
 4   codigo_indec_departamento  int64
 5   departamento               object
 6   fecha_alta                 object
 7   fecha_baja                 object
 8   monto                      int64
dtypes: int64(3), object(6)
memory usage: 122.7+ MB

In [7]:
#Valores Nulos de la base

tarjetas.isnull().sum()

id_persona                         0
sexo                               0
codigo_indec_provincia             0
provincia                          0
codigo_indec_departamento          0
departamento                       0
fecha_alta                         1
fecha_baja                   1567751
monto                              0
dtype: int64

In [8]:
#Conclusion

print("Solo {} tarjetas alimentar han sido dadas de baja en Argentina".format(tarjetas['fecha_alta'].count()-tarjetas['fecha_baja'].isnull().sum()))

Solo 219497 tarjetas alimentar han sido dadas de baja en Argentina

In [9]:
#Conclusion

print('{} tarjetas alimentar siguen activas en Argentina'.format(tarjetas['fecha_baja'].isnull().sum()))

1567751 tarjetas alimentar siguen activas en Argentina

In [10]:
#Primera visualización de nuestra base

tarjetas.head()

,id_persona,sexo,codigo_indec_provincia,provincia,codigo_indec_departamento,departamento,fecha_alta,fecha_baja,monto
0,9AB0AEEA-238E-4589-85C3-FF720E082B74,F,34,Formosa,34021,Laishi,2020-03-01,NaN,4000
1,14115A4D-D642-4CB0-BC87-1CED6C9A7992,F,66,Salta,66028,Capital,2020-01-30,2020-08-31,4000
2,C27633DD-4BA0-40F5-8BCB-4504A4E233BD,F,6,Buenos Aires,6434,Lanús,2020-01-27,2020-08-31,4000
3,256F5FCF-C96F-4FA9-A236-4392ECFF8E98,F,78,Santa Cruz,78021,Güer Aike,2020-02-06,NaN,4000
4,FA4774AC-93ED-4029-8E51-9D5536F28D73,F,50,Mendoza,50126,Tupungato,2020-03-01,NaN,6000

In [11]:
#Se transforma el tipo de dato

tarjetas['fecha_alta'] = pd.to_datetime(tarjetas['fecha_alta'], format = "%Y-%m-%d")

In [12]:
#Se extrae el año

tarjetas['ano_alta'] = pd.DatetimeIndex(tarjetas['fecha_alta']).year

In [13]:
#Se extrae el mes

tarjetas['mes_alta'] = pd.DatetimeIndex(tarjetas['fecha_alta']).month

In [14]:
#Se extrae el dia

tarjetas['dia_alta'] = pd.DatetimeIndex(tarjetas['fecha_alta']).day

In [15]:
#Primeros valores nacionales

tarjetas.head()

,id_persona,sexo,codigo_indec_provincia,provincia,codigo_indec_departamento,departamento,fecha_alta,fecha_baja,monto,ano_alta,mes_alta,dia_alta
0,9AB0AEEA-238E-4589-85C3-FF720E082B74,F,34,Formosa,34021,Laishi,2020-03-01,NaN,4000,2020.0,3.0,1.0
1,14115A4D-D642-4CB0-BC87-1CED6C9A7992,F,66,Salta,66028,Capital,2020-01-30,2020-08-31,4000,2020.0,1.0,30.0
2,C27633DD-4BA0-40F5-8BCB-4504A4E233BD,F,6,Buenos Aires,6434,Lanús,2020-01-27,2020-08-31,4000,2020.0,1.0,27.0
3,256F5FCF-C96F-4FA9-A236-4392ECFF8E98,F,78,Santa Cruz,78021,Güer Aike,2020-02-06,NaN,4000,2020.0,2.0,6.0
4,FA4774AC-93ED-4029-8E51-9D5536F28D73,F,50,Mendoza,50126,Tupungato,2020-03-01,NaN,6000,2020.0,3.0,1.0

In [16]:
tarjetas.monto.sum()

8137512000

In [30]:
tarjetas.provincia.value_counts().to_frame('cantidad').to_csv('tarjetas_por_provincia.csv')

In [34]:
tarjetas.provincia.value_counts(normalize = True)

Buenos Aires              0.369940
Córdoba                   0.076223
Santa Fe                  0.070551
Mendoza                   0.046108
Tucumán                   0.045610
Chaco                     0.042835
Salta                     0.042696
Misiones                  0.040152
Corrientes                0.033105
Santiago del Estero       0.032611
Entre Ríos                0.029070
Ciudad de Buenos Aires    0.027801
San Juan                  0.021573
Jujuy                     0.020598
Formosa                   0.019923
Río Negro                 0.013686
Neuquén                   0.011721
San Luis                  0.011114
Catamarca                 0.010624
La Rioja                  0.009778
Chubut                    0.008836
La Pampa                  0.006628
Santa Cruz                0.006417
Tierra del Fuego          0.002399
Name: provincia, dtype: float64

In [35]:
tarjetas.sexo.value_counts()

F    1673370
M     113879
Name: sexo, dtype: int64

In [36]:
mendoza = tarjetas[tarjetas['provincia'] == "Mendoza"]

In [37]:
mendoza.head()

,id_persona,sexo,codigo_indec_provincia,provincia,codigo_indec_departamento,departamento,fecha_alta,fecha_baja,monto,ano_alta,mes_alta,dia_alta
4,FA4774AC-93ED-4029-8E51-9D5536F28D73,F,50,Mendoza,50126,Tupungato,2020-03-01,NaN,6000,2020.0,3.0,1.0
12,64974C2E-F59D-45C5-90F5-FBEA4AE751D6,F,50,Mendoza,50070,Maipú,2020-03-01,2020-08-31,4000,2020.0,3.0,1.0
23,7A40ADBF-2EAB-4500-B375-58B33B7BB656,F,50,Mendoza,50007,Capital,2020-09-08,NaN,4000,2020.0,9.0,8.0
25,8A357D2F-2B03-49B3-8383-6974D5294162,F,50,Mendoza,50028,Guaymallén,2020-09-08,NaN,4000,2020.0,9.0,8.0
29,871B1C9E-1035-4E8F-8E90-57877A9D10F3,F,50,Mendoza,50063,Luján de Cuyo,2020-09-08,NaN,4000,2020.0,9.0,8.0

In [38]:
mendoza.shape

(82407, 12)

In [39]:
mendoza.sexo.value_counts()

F    76473
M     5934
Name: sexo, dtype: int64

In [40]:
mendoza.sexo.value_counts(normalize = True)

F    0.927992
M    0.072008
Name: sexo, dtype: float64

In [42]:
mendoza.departamento.value_counts().to_frame().to_csv('tarjetas_por_departamento.csv')

In [43]:
mendoza.departamento.value_counts(normalize = True)

Las Heras         0.132598
Maipú             0.109493
Guaymallén        0.106411
San Rafael        0.101581
Godoy Cruz        0.081292
San Martín        0.072324
Luján de Cuyo     0.062750
Tupungato         0.051610
Capital           0.051015
Rivadavia         0.034281
Lavalle           0.034063
Tunuyán           0.033650
La Paz            0.033104
General Alvear    0.027680
Junín             0.022595
San Carlos        0.021721
Malargüe          0.014987
Santa Rosa        0.008846
Name: departamento, dtype: float64

In [44]:
mendoza.monto.describe()

count    82407.000000
mean      4574.781269
std        905.096112
min       4000.000000
25%       4000.000000
50%       4000.000000
75%       6000.000000
max       6000.000000
Name: monto, dtype: float64

In [45]:
mendoza.monto.sum()

376994000

In [48]:
mendoza.groupby('departamento')['monto'].sum().sort_values(ascending=False).to_csv('montos_por_departamento.csv')

In [49]:
mendoza.sexo.value_counts()

F    76473
M     5934
Name: sexo, dtype: int64

In [50]:
mendoza.mes_alta.value_counts()

3.0    69393
9.0    13007
5.0        7
Name: mes_alta, dtype: int64

In [52]:
mendoza.dia_alta.value_counts()

1.0    69400
8.0    13007
Name: dia_alta, dtype: int64

In [55]:
mendoza.groupby(['departamento', 'sexo', 'monto']).size().unstack(level=1, 
                                                                   fill_value=0).to_csv('departamento_monto_genero.csv')

In [56]:
mendoza.isnull().sum()

id_persona                       0
sexo                             0
codigo_indec_provincia           0
provincia                        0
codigo_indec_departamento        0
departamento                     0
fecha_alta                       0
fecha_baja                   72366
monto                            0
ano_alta                         0
mes_alta                         0
dia_alta                         0
dtype: int64

In [57]:
mendoza.shape

(82407, 12)

In [58]:
82407-72366

10041